@media screen and (max-width: 800px) {
    .descricao {
    display: flex;
    text-align: center;
    font-size: 0.9rem;
    width: 70ch;
    margin-top: 40px;
    }

    h3{
    text-align: center;
    }
    
    .container .botoes .botao{
    display: flex;
    align-items: flex-start;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100ch;
    line-height: 1.5;
}

      
@media screen and (max-width: 670px) {
    header .container {
    display: flex;
    flex-direction: column;
    height: 50%;
    }

    .logo{
    padding: 20px;
    display: block;
    }

    nav{
    box-sizing: border-box;
    font-size: 5fc;
    }
    
    .titulo {
        margin-top: 4rem;
        text-align: center;
      }
    
      .descricao {
        margin: 0;
        display: table-cell;
        text-align: center;
      }
    
      .botao {
        margin-top: 5px;
        }
      

        .nav-bar{
          padding: .5rem 2rem;
         
        }
        
        .nav-item{
          display: none;
       }
        
        .login-button{
          display:none;
        }
        
        .mobile-menu-icon{
        display: flex;
      }

      .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      
      .mobile-menu-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem ;
      }

      .mobile-menu .nav-item{
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: center;
      }
      
      .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem ;
      }
      
      .mobile-menu .login-button button{
        width: 100%;
      }

      .nav-link {
        text-align: center;
      }
    
    }
}
